alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==18.3.0
astroid==2.6.5
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.8.2
black==21.7b0
certifi==2020.12.5
cffi==1.11.5
chardet==3.0.4
click==8.0.1
cloudinary==1.22.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.2
dataclasses
decorator==4.3.0
defusedxml==0.5.0
Django==2.2.10
django-admin-view-permission==1.9
django-advanced-filters==1.1.1
django-allauth==0.38.0
django-anymail==7.0.0
django-braces==1.14.0
django-cleanup==5.0.0
django-clear-cache==0.3
django-cloudinary-storage==0.3.0
django-coverage-plugin==1.6.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-environ==0.4.5
django-extensions==2.1.4
django-model-utils==3.1.2
django-redis==4.10.0
django-storages==1.9.1
djangorestframework==3.9.1
docutils==0.14
factory-boy==2.11.1
Faker==1.0.1
flake8==3.6.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
importlib-metadata==4.6.1
ipdb
ipython==7.2.0
ipython-genutils==0.2.0
isort==5.9.2
itypes==1.1.0
jedi==0.13.2
Jinja2==2.10
lazy-object-proxy==1.6.0
lxml
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==4.3.0
oauthlib==2.1.0
packaging==18.0
parso==0.3.1
pathlib2==2.3.3
pathspec==0.9.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
pluggy==0.8.0
prompt-toolkit==2.0.7
psycopg2-binary
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
pycparser==2.19
pycurl==7.43.0.5
pyflakes==2.0.0
Pygments==2.3.1
pylibmc==1.6.1
pylint==2.9.5
pyparsing==2.3.0
pytest==4.0.2
pytest-django==3.4.4
pytest-sugar==0.9.2
python-dateutil==2.7.5
python-slugify==1.2.6
python3-openid==3.1.0
pytz==2018.7
redis==2.10.6
regex==2021.7.6
requests==2.25.1
requests-oauthlib==1.0.0
sentry-sdk==1.0.0
simplejson==3.17.0
six==1.12.0
snowballstemmer==1.2.1
soupsieve==2.0
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
termcolor==1.1.0
text-unidecode==1.2
toml==0.10.2
tomli==1.1.0
traitlets==4.3.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.26.4
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
whitenoise==4.1.2
wrapt==1.12.1
zipp==3.5.0
