/* Default appearance (Light Mode) */
.dark-mode-btn {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.dark-mode-btn:hover {
  background-color: #555;
}

/* Appearance when Dark Mode is ON */
.dark-mode-btn.dark-mode-on {
  background-color: #fff;
  color: #333;
}

.dark-mode-btn.dark-mode-on:hover {
  background-color: #eee;
}
