/* ---------------------------------------------------
    STYLESHEET
----------------------------------------------------- */

:root {
  --main: #3a446c;
  --secondary: #3c6586;
  --tertiary: #bbc6ff;
  --quadrary: #bbfcff;
  --contrast: white;

  --header-height: 40px;

  --sidebar-width: 230px;
}

button.active {
  background-color: red;
  color: white;
}

td.details-control:not(.detail-header) {
  background: url("../images/icons/details_open.png") no-repeat center center;
  cursor: pointer;
}

td.details-control {
  width: 2.5em;
}
tr.shown td.details-control:not(.detail-header) {
  background: url("../images/icons/details_close.png") no-repeat center center;
}

/* ---------------------------------------------------
    BODY STYLE + HEADER
----------------------------------------------------- */

.header {
  position: fixed;
  display: flex;
  gap: 16px;
  align-items: center;
  height: var(--header-height);
  width: 100vw;
  z-index: 1;
  background: var(--main);
  color: var(--contrast);
  padding: 5px;
}

.header-logo {
  margin-left: 10px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--contrast);
}

.header-image {
  height: 40px;
}

.header-credits {
  margin-left: auto;
  margin-right: 10px;
}

/* Styles for the header links */
.header-links {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center; /* Ensure they're vertically centered in the header */
}

.header-link {
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px 12px; /* Reduced vertical padding to make them smaller in height */
  text-decoration: none;
  color: white;
  background-color: #3366cc; /* Darkened color for less brightness */
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-link:hover {
  background-color: #264d99; /* Darker shade on hover */
  color: white;
}

/* ---------------------------------------------------
    CONTENT WRAPPER + SIDEBAR STYLE
----------------------------------------------------- */

.content-wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  padding: 5px;
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  top: var(--header-height);
  left: 0;
  background: var(--secondary);
  color: var(--contrast);
  transition: margin-left 0.5s;
}

#sidebar.active {
  margin-left: calc(var(--sidebar-width) * -1);
}

.sidebar-header {
  padding: 10px;
}

.sidebar-title a {
  text-decoration: none;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.filter-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filter-button {
  flex-grow: 1;
  background-color: var(--contrast);
}

.filter-button:hover {
  cursor: pointer;
}

.sliders {
  padding: 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - var(--sidebar-width));
  padding: 20px;
  min-height: 100vh;
  position: absolute;
  top: var(--header-height);
  right: 0;
  transition: width 0.5s;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    TOGGLES
----------------------------------------------------- */

.toggles-container {
  background-color: var(--tertiary);
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.toggles-title {
  font-weight: bold;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.toggle-vis {
  background-color: var(--quadrary);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.toggle-vis:hover {
  cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: calc(var(--sidebar-width) * -1);
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - var(--sidebar-width));
  }
}
